* {
  z-index: 1;
  color: rgb(238, 233, 226);
}
html,
body {
  font-size: 150%;
  white-space: normal;
  background-size: cover;
  background: repeat-y url("../images/windows-10.jpg");
  font-family: "Ubuntu Mono", monospace;
  background-color: rgb(11, 11, 11);
}
@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap);
li {
  padding: 1rem;
}
ul {
  margin: 0;
}
.background {
  display: flex;
  justify-content: center;

  color: #999999;

  z-index: -10;
  height: auto;
  width: auto;
}
.topnav {
  top: 0;
  width: 100%;
  height: 28%;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-size: 100%;
  align-self: flex-end;
}
h1 {
  padding-top: 0%;
  margin: 0;
}
.img {
  z-index: -10;
  min-height: 100%;
  min-width: 100%;
}
.wrapper {
  font-size: 0;
  flex: 1;
}
a:link {
  text-decoration: none;
  overflow: hidden;
  height: 15%;
}

a:hover {
  text-decoration: none;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: buttonFlash;
  text-decoration-color: black;
}
a:visited {
  text-decoration-color: black;
  text-decoration: none;
}
a:active {
  text-decoration-color: black;
  text-decoration: none;
}
.terminal {
  width: 100%;
}
.terminal-space {
  background-color: rgb(11, 11, 11);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p1 {
  padding: 0;
  margin: 0;
  font-size: 22px;
}
.dungeonlink {
  size: 10rem;
}
.navButtons {
  padding-right: 1.5rem;
}
.commandLocation {
  color: darkgreen;
}
.commandInput {
  color: blue;
}
.money {
  color: white;
}
.underscore {
  animation-name: _flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  font-size: 30px;
}
@keyframes hold {
}
@keyframes _flash {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.textlink {
  color: darkgreen;
}
.dropdown {
  opacity: 0%;
  pointer-events: none;
}
@media screen and (max-width: 1380px) {
  .topnav {
    opacity: 0%;
    pointer-events: none;
  }
  .dropdown {
    opacity: 100%;
    pointer-events: all;
  }
  .dropdown-content {
    opacity: 100%;
    pointer-events: all;
  }
  .windowsBarTop {
    opacity: 0;
  }
}
@media screen and (min-width: 1381x) {
  .topnav {
    opacity: 100%;
    pointer-events: all;
  }
  .dropdown {
    opacity: 0%;
    pointer-events: none;
    position: relative;
    display: inline-block;
    background-color: black;
  }
}

.dropbtn {
  color: white;
  padding: 12px;
  font-size: 28px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 100%;
  pointer-events: all;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(63, 53, 53);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

.windowsApps {
  display: flex;
  flex-direction: row;
}
.windowsBarTop {
  position: absolute;
  z-index: 1;
}
.windowsBarBottom {
  position: absolute;
  z-index: 1;
}
.input {
  background-color: black;
}
.paragraphs {
  padding: 0 0 10px 0;
}
section > div {
  margin-bottom: 20px;
}
.svgs {
  display: flex;
  background-color: rgb(243, 240, 167);
}
.windowBox {
  color: black;
  font-size: 20px;
  background-color: rgb(243, 240, 167);
}
#navigate {
  color: white;
  background-color: black;
  border: 0;
  outline: none;
}
.icons {
  margin-left: 5px;
  margin-right: 5px;
}
.iconH:hover {
  background-color: grey;
}
.content {
  display: inline;
}
